<include file="Public/header.html" title="后台登录"/>
<style>
    .header {
        text-align: center;
    }
    .header h1 {
        font-size: 200%;
        color: #333;
        margin-top: 30px;
    }
    .header p {
        font-size: 14px;
    }
</style>
<div class="header">
    <div class="am-g">
        <h1>BNUZ ITSU</h1>
        <p>Information Technology Student Union<br/>Beijing Normal University,Zhuhai</p>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>登录</h3>
        <hr>
        <form method="post" class="am-form" action="{:U('login','','')}">
            <label for="email">用户名:</label>
            <input type="text" name="username" id="email">
            <br>
            <label for="password">密码:</label>
            <input type="password" name="password" id="password">
            <br>
            <br />
            <div class="am-cf">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
        </form>
    </div>
</div>
