<include file="Public/header.html" title="后台管理 - 北京师范大学珠海分校信息技术学院学生会"/>
<include file="Public/adminmenu.html"/>

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">文章管理</strong> / <small>删除、编辑文章</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-title">标题</th><th class="table-type">类别</th><th class="table-author am-hide-sm-only">作者</th><th class="table-date am-hide-sm-only">修改日期</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                <tr>
                    <td>{$vo.title}</td>
                    <td>
                        <if condition="$vo.classify eq 1">综合区</if>
                        <if condition="$vo.classify eq 2">品牌活动</if>
                        <if condition="$vo.classify eq 3">公示与通知</if>
                        <if condition="$vo.classify eq 4">招募公告</if>
                        <if condition="$vo.classify eq 5">更多</if>
                    </td>
                    <td class="am-hide-sm-only">{$vo.writer}</td>
                    <td class="am-hide-sm-only">{$vo.create_time|date='Y-m-d',###}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a href="__URL__/edit/id/{$vo.id}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                <a href="__URL__/del/id/{$vo.id}" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </volist>
                </tbody>
            </table>

    </div>
    <div>{$page}</div>
</div>


<include file="Public/footer.html" />
